body{
    font-size: large;
    width:630px;
    background-image:url(grand_master_warframe_wallpaper_4k_by_tinajra_daashr8-fullview.JPG);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    margin:0 auto;
    font-family:Snell Roundhand, cursive;
    font-weight: 300 ; 
    color:rgb(255, 255, 255);
    background-color:white;

    }
select
    {
        font-size: x-large;
        background-color:black;
        color: cyan;
        
    }

table
    {
        text-align: center;
        color: rgb(139, 49, 49);
        border-width:5px;
        border-color:rgb(249, 255, 197);
        border-style:ridge;
    }
option 
    {
            background-color:rgba(255, 255, 255, 0.486);
    }
th
    {
        color: rgb(249, 255, 197);
        width:230px;
    }
td
    {
    width : 1pt;
    border-color:rgb(113, 126, 3);
    background-color:rgba(255, 255, 255, 0.486);
    }
.all 
{
    color: darkblue;
}
#poursuivre
{
    float: right;
}

.Missions
{
    float: right;
}
.Warframe
{
    float: left;
    color: darkkhaki;
}

table 
{
    clear: both;
}



